@keyframes czekamy-move {
	0% {
		left: 100vw;
	}

	100% {
		left: -100vw;
	}
}

#czekamy {
	position: fixed;
	top: 0;
	width: 100vw;
	font-size: 4em;
	white-space: nowrap;
	pointer-events: none;
	animation: czekamy-move 6s linear infinite;
}

body {
	font-size: auto;
	background-color: black;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	min-width: auto;
	margin: 0;
	overflow-x: clip;
	overflow-y: auto;
}

p {
	text-wrap: wrap;
}

div {
	text-align: center;
}

input,
button {
	margin: 10px;
	padding: 10px;
	font-size: 1.5em;
}

p,
a,
#termin,
#wyniki,
#warning {
	font-size: 2.5em;
}

#zdane {
	color: green;
}

#warning,
#uwalone {
	color: red;
}